modules = ["php", "php-8.2", "postgresql-16"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Restaurant Server"

[[workflows.workflow]]
name = "PHP Restaurant Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t . index.php"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
